resources/

.venv/
env/
__pycache__/
*.pyc

data/
experiments/logs/
experiments/checkpoints/

.ipynb_checkpoints/

*.log

.DS_Store

*.csv
vggsound.csv
/tools
pretrained_weights/*.pth
pretrained_weights/

node_modules/
package-lock.json
package.json
*.mjs